:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.countiner{

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 400px;
    border-radius: 20px;
}
.countiner .cart{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}
.code{
    width: 100%;
    height: 50%;

}
img{
    width: 100%;
    border-radius: 16px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 16px;
}
h1{
    font-size: 31px;
    color: var(--Dark-blue);
}
h2{
    font-size: 20px;
    color: gray;
}
